version: '3.8'
services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mini_erp
    volumes:
      - ./backend/sql:/docker-entrypoint-initdb.d:ro
    ports:
      - '3306:3306'

  backend:
    build: ./backend
    restart: unless-stopped
    environment:
      - PORT=4000
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mini_erp
      - JWT_SECRET=please_change_this
    ports:
      - '4000:4000'
    depends_on:
      - db

  frontend:
    build: ./frontend
    restart: unless-stopped
    ports:
      - '5173:80'
    depends_on:
      - backend

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - '8080:8080'

networks:
  default:
    driver: bridge
